* {
	margin: 0;
	padding: 0;
    list-style: none;
}


@font-face {
	font-family: Inter;
	src: url(/T01-Breadcrumb-navigation/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

h1, li, ul, a {
    font-family: Inter;

}

body{
    background-color: rgb(165, 215, 209);
}

header{
    margin-top: 15px;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

li:nth-child(2),li:nth-child(3){
    list-style-type: "/";
    margin-left: 5px;
}

button{
    margin-left: 10px;
    font-size: 16px;
    text-align: center;}
