* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}


@font-face {
	font-family: Inter;
	src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}

h1, p, input {
    font-family: Inter;
}

body{
    background-color: beige;
}

h1{
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 20px;
    text-align: center;
}

.style{
    align-items: center;
    background-color: rgb(195, 220, 155);
    border-radius: 30px;
    border: rgb(83, 132, 76) solid 1px;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

p, form{
    margin-bottom: 10px;
}

input, button{
    display: block;
    margin-top: 8px;
    margin-bottom: 15px;
}

#startgame{
    margin: auto;
    margin-bottom: 15px;
}

.btn-style{
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(249, 193, 202);
    border: 1px black solid;
    border-radius: 10px;
}

button{
    margin-left: 10px;
    font-size: 16px;
    text-align: center;
}

.btn-style:hover{
 background-color: rgb(151, 76, 89);
 color: white;
 transition: 0.5s;
 cursor: pointer;
}

#winner,#higher, #lower{
 max-width: 100%;
 height: 300px;
 object-fit: cover;
 margin-left: auto;
 margin-right: auto;
 width: 40%;
}

.flex{
    display: flex;
    justify-content: center;
}

.hide{
    display: none;
}