* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
    background-color: rgb(156, 161, 198);
}

section{
    background-color: rgb(30, 30, 50);
    padding: 40px;
    border-radius: 10px;
    margin: 50px;
}

.flex {
 display: flex;
 flex-direction: column;
 width: 160px;
}

input, button, select{
    display: block;
    margin-top: 8px;
    margin-bottom: 15px;
}

@font-face {
	font-family: Inter;
	src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}

p, input, button, label{
    font-family: Inter;
}

p, label{
    color: beige;
}

#beregn{
    cursor: pointer;
}